/* 
Colours: 
Darkest: 0d1b2a
Second-darkest: 1b263b
Mid-blue: 415a77
light-blue: 778da9
Cream: e0e1dd
*/

@font-face {
    font-family: 'Boeklins';
    src: url(fonts/Boeklins/boeklin.woff2);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EB Garamond';
    src: url(fonts/eb-garamond-v32-latin-regular.woff2);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 120px;
    padding-left: 120px;
    background-color: #0d1b2a;
    color: #e0e1dd;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 10px;
    flex-direction: row;
    font-family: 'EB Garamond', 'Times New Roman', Times, serif;
}

h1 {
    padding: 0px;
    margin: 0px;
    font-size: 30px;
    font-weight: 900;
    font-family: 'Boeklins', 'Times New Roman';
}

.description {
    display: flex;
    background-color: #1b263b;
    color: #e0e1dd;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 60px;
    padding-top: 60px;
}

.d-left,
.d-right {
    max-width: 600px;
    flex-shrink: 1;
}

.logo {
    height: 180px;
}

h2 {
    font-size: 40px;
    margin: 0px;
    padding: 0px;
    font-family: 'Boeklins', 'Times New Roman'
}

p {
    padding: 0px;
    margin: 0px;
    font-family: 'EB Garamond', 'Times New Roman', Times, serif;
}

.about {
    font-size: 20px;
}

button {
    font-size: 20px;
    padding: 15px;
    background-color: #0d1b2a;
    border: solid;
    border-color: #415a77;
    border-width: 5px;
    color: #e0e1dd;
    border-radius: 15px;
    font-family: 'Boeklins', 'Times New Roman', Times, serif;
}

h2, 
p, 
button {
    margin: 10px;
}

.d-right {
    overflow: hidden;
}

.middle-content {
    display: flex;
    flex-direction: column;
    padding-right: 120px;
    padding-left: 120px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #0d1b2a;
    background-color: #e0e1dd;
}

.m-top {
    display: flex;
    justify-content: center;
}

.m-bottom {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.p-one,
.p-two,
.p-three,
.p-four {
    display: flex;
    flex-direction: column;
    max-width: 150px;
}

.honey,
.minnows,
.starrot,
.taxidermy {
    text-align: center;
    font-size: 15px;
}

.quote {
    display: flex;
    justify-content: center;
    padding-left: 240px;
    padding-right: 240px;
    padding-bottom: 60px;
    padding-top: 60px;
    background-color: #778da9;
    color: #1b263b;
}

.words {
    font-size: 30px;
}

.contact {
    display: flex;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 60px;
    padding-top: 60px;
    justify-content: center;
    background-color: #0d1b2a;
}

.info {
    background-color: #1b263b;
    color: #e0e1dd;
    padding: 30px;
    border-radius: 15px;
}

.instagram,
.email {
    font-size: 20px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #778da9;
}

.icon {
    border-radius: 15px;
    margin-top: 5px;
}

.footer {
    background-color: #1b263b;
    display: flex;
    padding: 15px;
    justify-content: center;
}

.copyright {
    color: #e0e1dd;
    font-size: 15px;
}
